
h1{
    text-align: center;
    color: gold;
    font-weight: bold;
}
.DIV1{
    position: relative;
    margin: auto;
    width: 100%;
    background-color: rgb(66, 42, 42);
    padding-top: 50px;
    padding-bottom: 50px;
}
.BODY{
    background-color: black;
}
.DIV2{
    align-content: center;
    align-items: center;
}
.TABLE{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#PLAYER1{
    text-align: center;
    color: aqua;
}
#PLAYER2{
    text-align: center;
    color: aqua;
}
#SCROLL{
    position: relative;
    border-radius: 15%;
}
.img{
    position: relative;
    width: 50%;
    height: auto;
}
td{
    text-align: center;
}
.img11{
    
        position: relative;
        width: 50%;
        height: auto;

}
.footer{
    position: fixed;
    bottom: 0px;
    
    text-align: center;
    color: brown;
    width: 100%;
}